*{
	padding: 0;
	margin: 0;
}
body{
	width: 1519px;
	height: 100%;
	margin: auto;
	background-color: #f1f1f1;
	font-family:  "Microsoft Yahei","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei";
}
li{
	list-style-type: none; /* 去掉默认实心圆点*/
	text-align: center;
}
a{
	text-align: center;
}
a:link,a:visited{      
	text-decoration:none;     
	color:#000;
}
a:hover,a:active{   
	text-decoration:none;
}
iframe{
    display: block;   
   	border: 0;    /*处理iframe的底部留白问题*/
}

/*导航栏*/
nav{
	background-color: #000;
	width: 100%;
	height: 80px; 
}
nav ul{
	float: left;
	margin-left: 180px;
}
nav li{
	float: left;
	width: 100px;
	height: 80px;
	line-height: 80px;
	margin-left: 10px;
}
nav>img{
	float: left;
	margin: 18px 50px;
}
nav a:link,nav a:visited{
	color:#f1f1f1;
}
nav a:hover,nav a:active{     
	color: #ff8c00;
}
.down{
	float: left;
	margin: 20px 0 20px 240px;
	display: inline-block;
    width: 100px;
    height: 36px;
    vertical-align: middle;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 18px;
    white-space: nowrap;
    font-size: 13px;
    line-height: 34px;
    text-align: center;
}
.down:hover{
	border-color: rgba(255,255,255,0.2);
    background-color: #ffc800;
    color: #333;
}
.open-login{
	margin: 20px 0;
}
.hl{
	background-color: #484848;
	opacity: 0.7;
}